.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    @include responsive(768px){
        flex-direction: row;
        width: 80%;
        background-color: #fff;
        height: 90%;
        border-radius: 10px;
    }
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
    margin-top: -75px;
    background-color: #fff;
    border-radius: 10px;
    @include responsive(768px){
        height: 75%;
        justify-content: flex-start;
        margin-right: 20px;
        align-items: flex-start;
        padding-top: 0;
    }
    h2{
        color: var(--Marineblue);
        font-weight:bolder;
    }
    p{
        color: var(--Coolgray);
        font-weight: 500;
        width: 80%;
        margin: 10px 0;
        @include responsive(768px){
            width: 100%;
        }
    }
}