@import "base/_base_dir";
@import "fnc/_fnc_dir";
@import "design/_design_dir";
@import "components/_components_dir";

html {
    height: 100%;
    background: var(--Magnolia);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

body {
    height: 100%;
    min-height: 100dvh;
    font-family: "Ubuntu Sans", sans-serif;
    color:var(--text);
    overflow-x: hidden;
    overflow-y: scroll;
}

#root{
    display: flex;
    flex-direction: column;
    @include responsive(768px){
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

